#sideBar {
   /*display: block;*/
     position: fixed;
    right:20px;
    top: 130px;
    /*float: right;*/
    width: 320px;
    border-style: solid;
    border-color: #150848;
    margin-top: 0;
}

    #sideBar table thead {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align:center;
     
        background-color: #150848;
        color: #ffffff;
        height: 70px;
    }

    #sideBar table th {
        white-space: normal;
        width: 160px;
        border-style: solid;
        border-color: #000000;
    }

    #sideBar table td {
        font-size: 16px;
        text-align: center;
        font-family: 'Century Gothic';
        border-style: solid;
        border-color: #000000;
        border-width: .05em;
        background-color: #e8faff;
        color: #150848;
    }
