#sideBar {
    display: block;
    position: fixed;
    right:0px;
    top: 0px;
    float: right;
    width: 15%;
    border-style: solid;
    border-color: #150848;
    margin-top: 0em;
    height: 100%;
}

    #sideBar table thead {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align:center;
        font-size: 24px;
        background-color: #150848;
        color: #ffffff;
        height: 91px;
    }

    #sideBar table th {
        width: 10em;
        border-style: solid;
        border-color: #000000;
    }

    #sideBar table td {
        text-align: center;
        font-family: 'Century Gothic';
        border-style: solid;
        border-color: #000000;
        border-width: .05em;
        background-color: #e8faff;
        color: #150848;
    }
