body {
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.fluff {
    padding: 40px;
}

.center {
    text-align: center;
}

header {
    padding: 40px;
}

.container-master {
    margin: 0 auto;
    width: 94%;
    /*border: 1px solid #808080;
    border-radius: 2px;*/
    padding: 40px;
}

#resultsTable table {
    margin: 0 auto;
    border: 3px solid black;
    border-collapse: collapse;
}

    #resultsTable table th {
        padding: 4px 6px;
        background-color: #150848;
        color: white;
        font-size: 24px;
    }

    #resultsTable table td {
        padding: 4px 6px;
        text-align: right;
    }

#resultsTable .loading td {
    text-align: left;
}

.home-btn{
    border: 1px solid black;
    border-radius: 10px;
    margin: 32px;
    padding: 8px;
}
.color{
    background-color: #150848;
    color: white;
}