body {
    /*font-family: 'Segoe UI', Arial, Helvetica, sans-serif;*/
    /*font-family: 'Bitter', serif;*/
    font-family: 'Century Gothic';
    font-size: 18px;
}
.sm-fluff{
    padding:8px;
}
.fluff {
    padding: 40px;
}

.extra-fluff {
    padding: 120px;
}

.center {
    text-align: center;
}

.vote-panel {
    margin: 100px 10px 0px 10px;

}

h4 {
    background-color: #150848;
    color: white;
    margin-bottom: 0px;
    padding: 16px;
}

.container-master {
    margin: 0 auto;
    width: 94%;
    /*border: 1px solid #808080;
    border-radius: 2px;*/
    padding: 40px;
}

#resultsTable table {
    margin: 0 auto;
    border: 3px solid black;
    border-collapse: collapse;
}

    #resultsTable table th {
        padding: 4px 6px;
        background-color: #150848;
        color: white;
        font-size: 24px;
    }

    #resultsTable table td {
        padding: 4px 6px;
        text-align: right;
    }

#resultsTable .loading td {
    text-align: left;
}

.home-btn {
    white-space: normal;
    border: 0px;
    border-radius: 10px;
    margin: 40px;
    padding: 16px;
    font-size: 30px;
    height: 180px;
    width: 180px;
}

.coloring {
    background-color: #150848;
    color: white;
    padding: 10px;
    font-weight: bold;
}

h2 {
    text-align: center;
    background-color: rgb(5,162,195);
    font-size: 28px;
    padding: 8px;
}
input[type=radio]{
   float: right;
 }
input[type=text]{
    margin-right:8px;
}
footer{
    height: 80px;
}
.submit{
    padding: 30px;
    font-weight: bold;
}
